.market-item{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:12px;

padding:12px;

background:#1f2937;

border-radius:8px;

font-size:15px;

transition:.3s;

}

.market-item:hover{

background:#263445;

}
